.contenedor-busqueda{
  display: flex;
  flex-direction: column;
  
}

.contenedor-titulo {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.oracion-inspirate{
   font-size: 30px;
   color: #7839CD;
}

.oracion-inspirate.dark{
 color: white;
}

.contenedor-icono-barra-busqueda{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
  }

.imagen{
  width: 50%;
}

#barra{
  width: 70%;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  background : inherit;
   }

#boton{
  width: 10%;
  height: 40px;
  background-color: #7839CD;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
 }

.contenedor-resultados{
  margin-top: 70px;
}

.oracion-resultados{
color: #7839CD;
margin-bottom: 30px;
}

.oracion-resultados.dark{
 color: white;
}

