.contenedor-busqueda{
  display: flex;
  flex-direction: column;
  
}

.contenedor-titulo {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.contenedor-titulo p{
   font-size: 30px;
   color: #7839CD;
}

.contenedor-icono-barra-busqueda{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
  
}

.imagen{
  width: 50%;
}

.contenedor-input-boton{
  width: 100%;
  height: 50px;
  
}

#barra{
  width: 70%;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
}

#boton{
 width: 10%;
 height: 40px;
 background-color: #7839CD;
 border-bottom-right-radius: 20px;
 border-top-right-radius: 20px;
}

.contenedor-resultados{
  margin-top: 70px;
}

.contenedor-resultados p{
color: #7839CD;
margin-bottom: 30px;
}